<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" type="text/css" />
    <title>Login</title>
  </head>
  <body>
    <main>
      <form method="post" action="/register">
        <!-- There is no need to set action method here, Bcoz this page is rendering on /register route itself and not on any other route.
          But, Still it is always prefered to set action method.
        -->
        <h2>Register Now</h2>
        <input type="text" name="name" placeholder="Name" />
        <input type="email" name="email" placeholder="Email" />
        <input type="password" name="password" placeholder="Password" />
        <button type="submit">Sign Up</button>
      </form>
    </main>
  </body>
</html>
